* {
    
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
	list-style:none;
	border: none;
	outline: none;
    background-color: #2F303A;
}
.NavContainer {
    display:flex;
    justify-content: space-between;
}

a:visited {
    color:white;
}

.lista {
    display:flex;
    justify-content: space-around;      
}

li{
    padding: 2rem;
    color:white;  
}
.part1{
    display:flex;
    align-items: center; 
      
}
.logo{
    margin-right: 1rem;
    color:white;
    
}
.boton {
 
  display: inline-block;
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  background-color: #1762A7;
  border: none;
  border-radius: 5px;
  font-family: poppins;
  font:white; 
  font-size: large;
}

button {
    color:white;
    background-color: #1762A7;
    font-family: poppins;
    display:flex;
    
}

.partRight{
    display:grid;
    justify-items: center;
    padding-left: 15rem;
    font-family: poppins;
    color: white;
}

/*.Circulo {
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #bc3a801a;
    height: 300px;
    width: 300px;
    display:flex; 
    align-content: center;
    

}*/
/*.imagenOne {
    display: flex;
    justify-content:center;
    padding-left: 20rem;
    padding-top: auto; 
} */

 .footer {
        font-family: poppins;
        font-size:small;
        color:white;
        margin-top: 1rem;
        padding: 1rem; 
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    display:flex;
    justify-content: space-around;
      }

 .ContainerHome {

    display:grid;
    align-items:flex-end;
    

    

 }

 spam {
    color:pink
 }
 .tittle2{
    font-family: poppins;
    font-size: 60px;
    padding-left: 50px;

 }

 .contenedorform{
    color:white;
 }

 .fondo {
    padding-right: 5rem;
 }