* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
	list-style:none;
	border: none;
	outline: none;
    background-color: #2F303A;
}

 .App{
    background-color: white;
 }

.NavContainer {
    display:flex;
    justify-content: space-between;

}
.lista {
    display:flex;
    justify-content: space-around;   
}

li{
    padding: 2rem;
    color:white;
}
.part1{
    display:flex;
    align-items: center;   
}
.logo{
    margin-right: 1rem;
    
}
.boton {
  display: inline-block;
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  background-color: #1762A7;
  border: none;
  border-radius: 15px;
  font-family: poppins;
  color:white; 
}

.partRight{
    display:flex;
    justify-content: center;
    font-family: poppins;
    color: white;
}

.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}